<table>
  <tbody>
    <tr>
      <th>PJMail URL</th>
      <td>
        <input type="text" size=100 id="settings_pjmail_url" 
                           value="<%= settings['pjmail_url'] %>" 
                           name="settings[pjmail_url]" >
      </td>
    </tr>
    <tr>
      <th>separator to divide the project name and the ticket number</th>
      <td>
        <input type="text" size=100 id="settings_pjmail_separator"
               value="<%= settings['pjmail_separator'] %>"
               name="settings[pjmail_separator]" >
      </td>
    </tr>
    <tr>
      <th>mail domain name</th>
      <td>
        <input type="text" size=100 id="settings_pjmail_domain"
               value="<%= settings['pjmail_domain'] %>"
               name="settings[pjmail_domain]" >
      </td>
    </tr>
  </tbody>
</table>
