<table>
  <tbody>
    <tr>
      <th>PJMail URL</th>
      <td>
        <input type="text" size=100 id="settings_pjmail_url" 
                           value="<%= settings['pjmail_url'] %>" 
                           name="settings[pjmail_url]" >
      </td>
    </tr>
  </tbody>
</table>
